* {
  text-align: center;
}

body {
  background-color: rgb(244, 192, 149);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container-recipie-nav {
  border: 5px solid rgb(103, 146, 137);
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 30%;
}

ul .no-bullet {
  list-style-type: none;
}
